.navbar-fondo {
    background-color: #424242;
}

.navbar-fondo li a {
    transition: all 300ms linear;
}

.navbar-fondo li:hover {
    background-color: rgb(108 105 105);
}

.navbar-fondo li:hover a {
    padding-left: 60px;
}

body {
    margin: 0;
    padding: 0;
}

.contenido {
    min-height: calc(100vh - 144px);
}

.encabezado {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

#footer {
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

#p-footer {
    margin: 0px;
    padding: 0px;
}

.logo-encabezado {
    color: white;
    position: absolute;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0%;
    margin-left: 15px;
}

nav {
    background-color: #424242;
}

nav ul li a {
    transition: all 300ms linear;
}

nav ul li a i {
    margin-right: 6px !important;
    line-height: 62px !important;
}

nav ul li a:hover i {
    color: #9e9e9e !important;
}

nav ul li a:hover {
    color: #9e9e9e !important;
    transform: scale(1.2,1.2);
    background: none;
}

.logout {
    margin-right: 15px;
}

.btn-save {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}

.botones-hover:hover {
    background-color: #424242 !important;
}

.m-bottom {
    margin-bottom: 0px;
    margin-top: 1.5rem;
}

.error-form {
    color: red;
    font-size: 13px;
}

.error-form i {
    font-size: 22px;
}

.m-bottom-input {
    margin-bottom: 3px !important;
}

.eye-password {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
}

.icon-color {
    color: darkgreen;
}

.header-form {
    margin: 0px !important;
    text-align: center;
    padding: 0px 0px !important;
    background: #424242;
    color: white;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
}

.col-form {
    padding: 0px !important;
    border-radius: 10px;
    box-shadow: 8px 8px 13px #949090;
    border: 1px solid #00000026;
}

.padding-form {
    padding: 0 .75rem;
}

.loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    justify-content: center;
    background: #0000007d;
}

.loading img {
    top: 50%;
    position: absolute;
    z-index: 150;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    cursor: wait;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.m-0 {
    margin: 0px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.p-0 {
    padding: 0px;
}

.border-none {
    border: none;
}

.shadow-none {
    box-shadow: none;
} 


@media screen and (max-width: 600px) {
    .contenido {
        min-height: calc(100vh - 136px);
    }
}

@media screen and (max-width: 226px) {
    .contenido {
        min-height: calc(100vh - 146px);
    }

    #footer {
        height: 50px;
        line-height: 25px;
    }
}