<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/layout.css') }}" />
    <title>Contacts Flask Apps</title>
</head>
<body>
    <div id="loading" class="loading">
        <img src="../static/img/loading.gif">
    </div>
    <nav class="nav-wrapper">
        <a class="logo-encabezado hide-on-small-only">CRUD with Python</a>
        <a class="brand-logo hide-on-med-and-up">CRUD with Python</a>
        <a href="#" data-target="menu-responsive" class="sidenav-trigger hide-on-med-and-up">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-small-only">
            <li>
                <a href="/home" class="white-text">
                    <i class="material-icons left white-text">home</i>
                    Home
                </a>
            </li>
            <li>
                <a href="/users" class="white-text">
                    <i class="material-icons left white-text">people</i>
                    Users
                </a>
            </li>
            <li>
                <a href="/logout" class="white-text logout">
                    <i class="material-icons left white-text">exit_to_app</i>
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <ul class="sidenav navbar-fondo" id="menu-responsive">
        <li>
            <a href="/home" class="white-text">
                <i class="material-icons left white-text">home</i>
                Home
            </a>
        </li>
        <li>
            <a href="/users" class="white-text">
                <i class="material-icons left white-text">people</i>
                Users
            </a>
        </li>
        <li>
            <a href="/logout" class="white-text">
                <i class="material-icons left white-text">exit_to_app</i>
                Logout
            </a>
        </li>
    </ul>

    <div class="container contenido">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for typemessage, message in messages %}
                    <div id="alerta" class="row mt-20">
                        <div class="col s6 alert {{typemessage}}">
                            <button class="btn-alert btn-alert-{{typemessage}}" onclick="ocultarAlerta();">
                                X
                            </button>
                            {{message}}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </div>

    <footer id="footer" class="grey darken-3">
        <div class="container white-text">
            <p id="p-footer">&copy; Developed by Luis Espinoza</p>
        </div>
    </footer>

    <!--Scripts-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/layout.js') }}"></script>
</body>
</html>